<div class="login-panel">
  <h1 class="logo">BeAll</h1>
  <div class="login-box-right">
    <div class="login-form">
      <div>
        <h5 style="color: #ffffff61;margin: 0;">WELCOME BACK</h5>
        <h2 style="color: white;margin: 10px 0px 40px 0px;">Se connecter</h2>
      </div>
      <form [formGroup]="formInput">
        <div class="login-form-input">
          <label for="">E-Mail or Username</label>
          <input
            type="text"
            required
            placeholder="Identifiant"
            [ngClass]="(usernameError) ? 'error' : ''" 
            class="login-form-input-text"
            autocomplete="username"
            formControlName="username"/>
        </div>

        <div class="login-form-input">
          <label for="">Password</label>
          <input
            type="password"
            required
            placeholder="Mot de passe"
            [ngClass]="(passwordError) ? 'error' : ''"
            class="login-form-input-text"
            autocomplete="new-password"
            formControlName="password"/>
        </div>

      <div class="login-form-btn-container">
        <button (click)="login()"
          class="login-form-btn">
          <span *ngIf="!isLoading" style="line-height: 24px;">Connexion</span>
          <div class="spinner" *ngIf="isLoading">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </button>
      </div>
      </form>
    </div>
  </div>
</div>