<div class="login-panel">
<!--____________________________Left box_______________________________-->
  <div class="login-box-left">
    <img
      src="./assets/img/NightCity.png"
      class="login-slideshow-img">
    <a class="login-btn-prev">
      <span class="material-icons">arrow_back_ios</span>
    </a>
    <a class="login-btn-next">
      <span class="material-icons">arrow_forward_ios</span>
    </a>
    <div class="login-slideshow-btn-box">
      <span></span> 
      <span></span> 
      <span></span> 
    </div>
  </div>
<!--_____________________________Right box_____________________________-->
  <div class="login-box-right">
    <div class="login-logo">
      <img
        src="./assets/img/eiffage-logo.png"
        class="login-logo-img">
    </div>
    <div style="display: inline-flex;">
      <span class="login-logo-text">Bienvenue</span>
      <span class="login-logo-text-red"> !</span>
    </div>
    <div class="login-form">
      <div class="login-form-input">
        <span class="material-icons login-form-svg">person_outline</span>
        <input
          type="text"
          required
          placeholder="Adresse mail"
          class="login-form-input-text">
      </div>
      <div class="login-form-input">
        <span class="material-icons login-form-svg">lock_open</span>
        <input
          type="password"
          required
          placeholder="Mot de passe"
          class="login-form-input-text">
      </div>
      <div class="login-form-btn-container">
        <button class="login-form-btn">
          <span style="line-height: 24px;">Connexion</span>
          <span class="material-icons forward-icon">arrow_forward</span>
        </button>
        <button class="login-form-btn-option">
          <span class="material-icons vert-dot-icon">more_vert</span>
        </button>
      </div>
    </div>
    <span class="login-footer">All rights reserved to 3CU, 2020</span>
  </div>
</div>