.login-panel {
  position: absolute;
  top: 0;
  display: inline-flex;
  min-height: 800px;
  height: 800px;
  max-height: 800px;
  min-width: 1400px;
  width: 1400px;
  max-width: 1400px;
}
/*_____________________________Left CSS rules___________________________*/
.login-box-left {
  position: relative;
  left: 0;
  min-height: 800px;
  min-width: 70%;
  max-height: 800px;
  max-width: 70%;
  background-color: #21252B;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.login-slideshow-img {
  height: 800px;
  width: 980px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.login-btn-prev, .login-btn-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.login-btn-prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.login-btn-prev:hover {
  color:#E22C35;
}

.login-btn-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.login-btn-next:hover {
  color:#E22C35;
}

.login-slideshow-btn-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

.login-slideshow-btn-box span{
  margin-right: 2px;
  opacity: 0.3;
  width: 40px;
  height: 8px;
  border-radius: 5px;
  border: none;
  outline: 0px;
  background-color: #bbb;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.login-slideshow-btn-box span:hover {
  background-color:#E22C35;
  opacity: 0.7;
}

/*_____________________________Right CSS rules__________________________*/
.login-box-right {
  position: relative;
  right: 0;
  min-height: 800px;
  height: 800px;
  max-height: 800px;
  min-width: 30%;
  background-color: #21254F;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
}

.login-logo {
  min-height: 150px;
  max-height: 250px;
  max-width: 150px;
  margin: 35px auto 0 auto;
}

.login-logo-img {
  width: 150px;
}

.login-logo-text {
  color: white;
  font-size: xx-large;
  letter-spacing: 4px;
  max-width: 230px;
  margin-right: 8px;
}

.login-logo-text-red{
  color:  #E22C35;
  font-size: xx-large;
}

.login-form {
  padding: 15px;
  max-width: 300px;
  margin: 180px auto 170px auto;
}

.login-form-input {
  display: inline-flex;
  margin-bottom: 12px;
  text-align: center;
  background-color:#f7f7f7;
  border-radius: 5px;
  min-height: 35px;
  min-width: 280px;
  width: 300px;
}

.login-form-input-text {
  background-color:#f7f7f7;
  font-size: large;
  
  border: none;
  border-radius: 5px;
  min-height: 35px;
  min-width: 90%;
  width: 300px;
  font-family: 'Varela Round';
  text-align: center;
}

.login-form-input-text:focus {
  font-style: normal;
  outline: 0px;
  text-align: start;
}

.login-form-input-text:focus::placeholder {
  color: #F7F7F7;
}

.login-form-svg {
  float: left;
  min-width: 10%;
  margin: auto;
}

.login-form-input:focus  {
  font-style: normal;
  font-size: medium;
}

.login-form-btn-container {
  display: inline-flex;
  min-width: 304px;
  width: 304px;
  max-width: 304px;
  min-height: 35px;
  height: 35px;
  max-height: 35px;
}

.login-form-btn {
  min-width: 254px;
  min-height: 35px;
  border: none;
  margin-right: 4px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  color: white;
  background-color: #E22C35;
  font-size: large;
  transition: ease-out 0.5s;
  cursor: pointer;
}

.login-form-btn:focus {
  outline: 0;
  box-shadow: inset 254px 0 0 0 #BB1A22;
}

.forward-icon {
  float: right;
}

.login-form-btn-option {
  width: 50px;
  max-width: 50px;
  min-height: 25px;
  height: 35px;
  max-height: 35px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  border: none;
  transition: ease .5s;
}

.login-form-btn-option:focus {
  outline: 0;
  box-shadow: inset 0 0 0 50px rgba(33, 37 ,43, 0.5);
}

.vert-dot-icon {
  margin: auto;
}

.login-footer {
  font-size: small;
  color: white;
}