<div class="login-header">
  <div class="login-logo">
    <img src="assets/img/eiffage-logo-tbk.png" class="login-logo-img">
  </div>
  <div class="login-body">
    <div class="login-form">
      <input class="login-form-input">
      <input class="login-form-input">
      <div class="login-form-btn-box">
        <button class="login-form-btn-a">
          <div class="login-form-btn-text">
            Connexion
          </div>
          <div class="login-form-btn-icon">
            <span class="material-icons login-form-connect-icon">lock_open</span>
          </div>
        </button>
        <button class="login-form-btn-b">
          <span class="material-icons">
            more_horiz
            </span>
        </button>
      </div>
    </div>
  </div>
  <footer class="login-footer">
    <h5 class="login-footer-text">All rights reserved to 3CU, 2020</h5>
  </footer>
</div>