<div class="mainGrid">
  <div class="userHeader flex items-start space-x-3 w-full p-2">
    <img class="h-48 w-36 rounded-lg object-cover shadow-md" [src]="data.profilImage" alt="UserImage">
    <div class="UserContent grid grid-flow-row grid-cols-auto grid-row-4 gap-2 w-full">
      <div class="FirstNdLastName flex items-center space-x-2 font-bold text-xl">
        <p>{{data.firstname}}</p>
        <p>{{data.lastname}}</p>
        <div *ngFor="let role of data.roles">
          <div
            [ngClass]="{'adminBadge' : role == 'Admin', 'devBadge' : role == 'Dev'}"
            class="roleBadge">
            {{role}}
          </div>
        </div>
      </div>
      <p>{{data.email}}</p>
      <p>{{data.username}}</p>

      <!-- Boutons -->
      <div class="flex items-center space-x-3">
        <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Voir
          </button>

          <button *ngIf="action == 0" (click)="modifyDyk()" type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Modifier
          </button>

          <button *ngIf="action == 1" (click)="saveDyk(data.dyk._id)" type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Enregistrer
          </button>

          <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-red-700 bg-red-100 hover:bg-red-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
            Supprimer
          </button>
      </div>
      <!-- Boutons -->

       <textarea class="w-full" [disabled]="action === 0"> {{data.dyk.content}}</textarea>

    </div>
  </div>
</div>
