
<div [formGroup]="formGroup">
    <div *ngIf="data.step == 0" class="login-form-input">
        <label for="">E-Mail</label>
        <input
          type="text"
          required
          [ngClass]="(data.errors.email) ? 'error' : ''" 
          placeholder="E-Mail"
          class="login-form-input-text"
          autocomplete="new-email"
          formControlName="email"
          />
      </div>

      <div *ngIf="data.step == 1">
        <div class="login-form-input">
            <label for="">Code</label>
            <input
              type="text"
              required
              placeholder="Code"
              class="login-form-input-text"
              autocomplete="new-code"
              formControlName="code"
              />
          </div>
          <div class="login-form-input">
            <label for="">Mot de passe</label>
            <input
              type="password"
              required
              placeholder="Mot de passe"
              class="login-form-input-text"
              autocomplete="new-password"
              formControlName="password"
              />
          </div>
    
          <div class="login-form-input">
            <label for="">Confirmer mot de passe</label>
            <input
              type="password"
              required
              placeholder="Mot de passe"
              class="login-form-input-text"
              autocomplete="new-password"
              formControlName="confirm-password"
              />
          </div>
      </div>
      
</div>