<div style="background-color: white;height: 100%;">
    <div class="nav-content" style="position: relative;">
        <div class="nav" >
            <div class="nav-item"> 
                <h1 class="logo" style="margin:0">BeAll</h1>
            </div>
            <ng-container *ngFor=" let list of sideList; let i = index;">
                <div 
                    class="nav-item"
                    [routerLink]="list.rout" 
                    routerLinkActive="active"
                >
                    <div>
                        <svg style="width: 23px" xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="list.svg">
                                <path [attr.d]="list.path" />
                                <path *ngIf="list.path2" [attr.d]="list.path2" />
                                <path *ngIf="list.path3" [attr.d]="list.path3" />
                                <path *ngIf="list.path4" [attr.d]="list.path4" />
                                <path *ngIf="list.path5" [attr.d]="list.path5" />
                                <path *ngIf="list.path6" [attr.d]="list.path6" />
                                <path *ngIf="list.path7" [attr.d]="list.path7" />
                                <path *ngIf="list.path8" [attr.d]="list.path8" />
                            </svg>  
                        <span>{{list.name}}</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="app-content">
        <app-topbar></app-topbar>
        <div style="padding:20px 20px;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>