<div style="background-color: white;">
    <div style="display: flex;">
    <div class="nav-content">
        <div class="nav">
            <div class="nav-item active"> <i class="fas fa-home"></i> <span>Dashboard</span></div>
            <div class="nav-item"> <i class="fas fa-th-large"></i> <span>test</span></div>
            <div class="nav-item"> <i class="fas fa-file-import"></i> <span>test</span></div>
            <div class="nav-item"> <i class="fas fa-sort-amount-up-alt"></i> <span>test</span></div>
            <div class="nav-item"> <i class="fas fa-columns"></i> <span>test</span></div>
            <div class="nav-item"> <i class="fas fa-cog"></i> <span>test</span></div>
            <div class="nav-item"> <i class="fas fa-question-circle"></i> <span>test</span></div>
        </div>
    </div>
<div>test</div>
</div>
</div>

